.match-card-bg-container {
    background-color: #0f172a;
    width: 48%;
    height: 260px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
    padding: 16px;
  }
  @media screen and (min-width: 768px) {
    .match-card-bg-container {
      width: 31%;
      height: 300px;
    }
  }
  .mc-competing-team-logo {
    height: 40px;
    width: 40px;
  }
  @media screen and (min-width: 768px) {
    .mc-competing-team-logo {
      height: 70px;
      width: 70px;
    }
  }
  .mc-competing-team {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    .mc-competing-team {
      font-size: 20px;
      width: 180px;
    }
  }
  .mc-result {
    font-size: 8px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    .mc-result {
      font-size: 10px;
      width: 140px;
    }
  }
  .mc-matchStatus {
    font-size: 16px;
  }
  .won {
    color: #18ed66;
  }
  .loss {
    color: #e31a1a;
  }
  