.nav-link-bg {
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 1px #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    width: 42%;
    margin: 10px;
    height: 100px;
    padding: 10px;
    text-decoration: none;
  }
  @media screen and (min-width: 768px) {
    .nav-link-bg {
      border-radius: 10px;
    }
  }
  .team-image {
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
  @media screen and (min-width: 768px) {
    .team-image {
      height: 80px;
      width: 80px;
    }
  }
  .team-card-team-name {
    font-size: 10px;
    text-align: center;
    font-weight: 500;
  }
  @media screen and (min-width: 768px) {
    .team-card-team-name {
      font-size: 20px;
    }
  }
  .match-card-bg {
    width: 100%;
    display: flex;
    align-items: center;
  }
  