.match-home-bg-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .match-home-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
.content-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.match-home-logo-section-bg {
  display: flex;
  align-items: center;
}
.ipl-logo {
  height: 50px;
  margin-right: 16px;
}
@media screen and (min-width: 768px) {
  .ipl-logo {
    height: 60px;
  }
}
.title {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-size: 32px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}
.unordered-list {
  width: 100%;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
