/* Write your CSS here */
.latest-match-card-bg {
  width: 100%;
  border-radius: 12px;
  background-color: #0f172a;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .latest-match-card-bg {
    flex-direction: row;
  }
}
.lm-logo-and-title-section-bg {
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
}

.title-section-bg {
  width: 200px;
}
@media screen and (min-width: 768px) {
  .title-section-bg {
    width: 300px;
  }
}
.lm-competing-team {
  font-weight: 500;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .lm-competing-team {
    font-size: 24px;
  }
}
.lm-date {
  font-size: 16px;
}
.lm-venue {
  font-size: 12px;
}
.lm-result {
  font-size: 12px;
}
.competing-team-logo {
  height: 60px;
  width: 60px;
  margin: 10px;
}
@media screen and (min-width: 768px) {
  .competing-team-logo {
    height: 120px;
    width: 120px;
  }
}
hr {
  border-color: #475569;
  width: 100%;
}
@media screen and (min-width: 768px) {
  hr {
    display: none;
  }
}
.lm-descriptive-bottom-section {
  margin: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .lm-descriptive-bottom-section {
    align-items: flex-end;
  }
}
.lm-bottom-section-heading {
  font-weight: 500;
  font-size: 14px;
}
.lm-bottom-section-para {
  font-size: 12px;
}
